{% extends "__base__.html" %}
{% block title %}商品详情 {% endblock %}
{% block src %} {% endblock %}
{% block mobile_header %}{% endblock %}
{% block mobile_body %}
<div class="aui-row">
    <header class = "aui-bar aui-bar-nav"style="background:rgba(0,0,0,0.3);color:white;position:absolute;">
        <a class = "aui-pull-left aui-btn" href="javascript:history.back(-1)">
            <span class = "aui-iconfont aui-icon-left"></span>
        </a>
    </header>
    <img src="/static/images/dva_4.jpg" class="aui-col-xs-12">

    <div class = "aui-content aui-margin-b-15">
        <ul class = "aui-list aui-list-in" style="line-height:30px;margin-bottom:20px;">
            <li class = "aui-list-item">
                <div class = "aui-media-list-item-inner">
                    <div>
                        <div>
                            {{ info.product }}
                        </div>
                        <div style = "color:#ff5a00;font-size:30px;line-height:30px;padding:0px 0px 0px 9px;">
                            ￥{{ info.listPrice }}
                        </div>
                        <div style = "color:#ff5a00;padding:0px 0px 0px 15px;margin:0px 0px 10px 0px;">
                            估值：{{ info.value }}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class = "aui-list aui-list-in" style="margin-bottom:20px;">
            <li class = "aui-list-item">
                <div class = "aui-media-list-item-inner">
                    优惠额度：{{ info.discount }}
                </div>
            </li>
        </ul>
        <ul class = "aui-list aui-list-in" style="margin-bottom:20px;">
            <li class = "aui-list-item" style="border-bottom:1px solid rgb(231,231,231)">
                <div class = "aui-media-list-item-inner">
                    用户名：{{ info.sellerInfo.nickname }}
                </div>
            </li>
            <li class = "aui-list-item" style="border-bottom:1px solid rgb(231,231,231)">
                <div class = "aui-media-list-item-inner">
                    商家名：{{ info.brand }}
                </div>
            </li>
            <li class = "aui-list-item">
                <div class = "aui-media-list-item-inner">
                    使用期限：{{ info.expiredTime }}
                </div>
            </li>
        </ul>
        <ul class = "aui-list aui-list-in">
            <li class = "aui-list-item">
                <div class = "aui-media-item-inner">
                    使用限制：{% for i in info.limits %} <span>i</span>{% endfor %}
                </div>
            </li>
        </ul>
    </div>
</div>
<footer class="aui-bar aui-bar-tab mobile-max-user-background">
        <div class="aui-bar-tab-item" tapmode>
            <a href = "/" style="color:white;">
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-bar-tab-label">首页</div>
            </a>
        </div>
        <div class="aui-bar-tab-item" tapmode onclick="openDialog('focus')">
            <i class="aui-iconfont aui-icon-star"></i>
            <div class="aui-bar-tab-label" id = "commodity_focus">关注</div>
        </div>
        <div class="aui-bar-tab-item" style="background-color:white;color:#ff5a00" tapmode>
            <a href = "/mobile_sell_final?coupon={{ info.couponID }}" style="color:#ff5a00;">
            <i class="aui-iconfont aui-icon-cart"></i>
            <div class="aui-bar-tab-label">购买</div>
            </a>
        </div>
</footer>
{% endblock %}
{% block mobile_footer %}{% endblock %}
{% block scripts %}
<script type = "text/javascript">
var dialog = new auiDialog({})


var flag = 0
    function openDialog(type){
        switch(type){
            case "focus":
                var element = document.getElementById("commodity_focus")
                if (flag == 0){
                dialog.alert({
                    title:"",
                    msg:'是否关注该优惠券',
                    buttons:['取消','确认']
                    },function(ret){
                        if(ret.buttonIndex == 1){
                            dialog.alert({
                                title:"",
                                msg:"已取消操作",
                                buttons:['确定']
                                })
                                }
                        if(ret.buttonIndex == 2){
                            flag = 1
                            dialog.alert({
                                title:"",
                                msg:"已关注",
                                buttons:['确定']
                                })
                                element.innerHTML = "已关注"
                                }
                                })
            }
                if (flag == 1){
                dialog.alert({
                    title:"",
                    msg:'是否取消关注该优惠券',
                    buttons:['取消关注','继续关注']
                    },function(ret){
                        if(ret.buttonIndex == 1){
                            flag = 0
                            dialog.alert({
                                title:"",
                                msg:"已取消关注",
                                buttons:['确定']
                                })
                                element.innerHTML = "关注"
                                }
                        if(ret.buttonIndex == 2){
                            dialog.alert({
                                title:"",
                                msg:"已取消操作",
                                buttons:['确定']
                                })
                                }
                                })
                                }
                                break;
            default:
                break;
                    }}
</script>
    <script type="text/javascript">

    </script>
{% endblock %}

