<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <title>{{ c }}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div>
    <!--导航栏部分：Logo/搜索栏/注册/登录-->
    <nav class="navbar">


        <div class="recontainer">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-targer="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="">Brand</a>
            </div>
            <!--注册/登录-->
            <div class="navbar-search">
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="fa fa-arrow-right"></span></button>


                    <ul class="float-right nav-login">
                        {% if userid %}
                            <a href="/login?method=register">{{ nickname }}
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            </li>
                            <li>
                                <a href="/login?method=login">{{ gender }}
                                    <span class="glyphicon glyphicon-user"></span>
                                </a>
                            </li>

                    {% else %}
                        <li>
                            <a href="/login?method=register">注册
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/login?method=login">登录
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                    </ul>
                     {% endif %}
                </form>
            </div>

            <div class="collapse navbar-collapse" id="homepage_user">
                <ul class="nav navbar-nav navbar-right being-hidden">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> 用户中心
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的关注</a></li>
                            <li><a href="#">我的优惠</a></li>
                            <li><a href="#">我的交易</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-envelope"></span>消息中心
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">系统消息</a></li>
                            <li><a href="#">交易信息</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-usd"></span>充值中心
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--主页推送轮播-->
    <!--轮播一张图-->
    <div class="recontainer">
        <div class=" category-left" id="homepage_navigation">
            <ul class="category-menu">
                <!--#homepage_top-->
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
                <li><i class="fa fa-commenting-o"></i>用户讨论</li>
            </ul>
        </div>

        <!--商品推荐栏-->

        <!-- <div class="category-left">

             <ul class="category-menu" id="homepage_ad">
                 <li class="category-list">
                     <a href="#category-list-dropdown_1"></a>
                     <ul class="ul_left">电子产品
                         <div class="category-list-dropdown" id="category-list-dropdown_1">
                             <a href="#"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>

                 <li class="category-list">
                     <a href="#category-list-dropdown_2"></a>
                     <ul class="ul_left">生活家居
                         <div class="category-list-dropdown" id="category-list-dropdown_2">
                             <a href="#"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>

                 <li class="category-list">
                     <a href="#category-list-dropdown_3"></a>
                     <ul class="ul_left">服饰妆饰
                         <div class="category-list-dropdown" id="category-list-dropdown_3">
                             <a href="/login"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>

                 <li class="category-list">
                     <a href="#category-list-dropdown_4"></a>
                     <ul class="ul_left">饮食烟酒
                         <div class="category-list-dropdown" id="category-list-dropdown_4">
                             <a href="/login"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>

                 <li class="category-list">
                     <a href="#category-list-dropdown_5"></a>
                     <ul class="ul_left">图书音像
                         <div class="category-list-dropdown" id="category-list-dropdown_5">
                             <a href="/login"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>

                 <li class="category-list">
                     <a href="#category-list-dropdown_6"></a>
                     <ul class="ul_left">旅行住宿
                         <div class="category-list-dropdown" id="category-list-dropdown_6">
                             <a href="/login"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>

                 <li class="category-list">
                     <a href="#category-list-dropdown_7"></a>
                     <ul class="ul_left">礼品特产
                         <div class="category-list-dropdown" id="category-list-dropdown_7">
                             <a href="/login"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>

                 <li class="category-list">
                     <a href="#category-list-dropdown_8"></a>
                     <ul class="ul_left">文娱体育
                         <div class="category-list-dropdown" id="category-list-dropdown_8">
                             <a href="/login"><img class="img_suit" src="/static/images/dva_4.jpg"></a>
                         </div>
                     </ul>
                 </li>
             </ul>

         </div>
 -->
        <div class="category-right">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/static/images/dva_1.jpg" alt="First slide">
                        <!--<div class = "carousel-caption">张文纬</div>-->
                    </div>
                    <div class="item">
                        <img src="/static/images/dva_2.jpg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="/static/images/dva_3.jpg" alt="Third slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>


            <a href="#">
                <p align="center">电子产品</p>
            </a>
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/static/images/dva_1.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/static/images/dva_1.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/static/images/dva_1.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/static/images/dva_1.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/static/images/dva_1.jpg" alt="">
                    </a>
                </div>
                <div class="col-xs-12 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="/static/images/dva_1.jpg" alt="">
                    </a>
                </div>
            </div>


            <hr/>


            <a href="#">
                <p align="center">用户讨论区</p>
            </a>
            <div class="col-md-12">
                <div id="homepage_user_discuss" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#" class="thumbnail">
                                        <img src="/static/images/dva_1.jpg" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#homepage_user_discuss" data-slide="prev"></a>
                    <a class="right carousel-control" href="#homepage_user_discuss" data-slide="next"></a>
                </div>

            </div>
        </div>
    </div>


    </body>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>

</html>