<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device - width, initial - scale = 1">
    <title>index</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <!--导航栏部分：Logo/搜索栏/注册/登录-->
    <nav class="navbar navbar-container navbar-default">
        <div class="container">
            <div class="navbar-search">
                <form class="navbar-form ">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="fa fa-arrow-right"></span></button>

                </form>
            </div>
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targer="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class = "sr-only">Toggle navigation</span>
                      <span class = "icon-bar"></span>
                      <span class = "icon-bar"></span>
                      <span class = "icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!--搜索栏-->
            <div class="navbar-search">
                <form class="navbar-form ">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>

            <!--注册/登录-->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login#register">注册
                                <span class = "glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/login#login">登录
                                <span class = "glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--主页推送轮播-->
    <!--轮播一张图-->
    <div class="container">
        <<<<<<< HEAD <div class="category-list-dropdown being-hidden" id="1">
    </div>
    <div class="category-left">
        <ul class="category-menu">
            <li class="category-list"><a href="#1" class="category-list-a">电子产品</a></li>
            <li class="category-list">旅行住宿</li>
            <li class="category-list">美食</li>
            <li class="category-list">体育</li>

        </ul>
    </div>
    <div class="category-center">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/static/images/dva_1.jpg" alt="First slide">
                    <!--<div class = "carousel-caption">张文纬</div>-->
                </div>
                <div class="item">
                    <img src="/static/images/dva_2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="/static/images/dva_3.jpg" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div class="category-right">
        =======

    </div>

    <hr/>

    <div class="container">
        <div class="col-md-12">
            <div id="homepage_carousel_4" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="thumbnail">
                                    <img src="/static/images/dva_3.jpg" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#homepage_carousel_4" data-slide="prev"></a>
                <a class="right carousel-control" href="#homepage_carousel_4" data-slide="next"></a>
            </div>
            >>>>>>> M
        </div>
    </div>

    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="/static/images/dva_3.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-12 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="/static/images/dva_3.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-12 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="/static/images/dva_3.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-12 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="/static/images/dva_3.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-12 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="/static/images/dva_3.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-12 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="/static/images/dva_3.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>

</html>