{% extends "__base__.html" %} {% block title %}用户登录 {% endblock %}
{% block src %}
    <link media="screen and (max-width:768px)" href="/static/css/aui/aui-flex.css" rel="stylesheet">
{% endblock %}
{% block mobile_header %}
{% endblock %}



{% block mobile_body %}
    <div style="background: white;">
    <div class="aui-flex-col aui-padded-10 mobile-max-user-background">
        <div class="aui-flex-item-2">
            <i class="aui-iconfont aui-icon-left"></i>
        </div>
        <div class="aui-flex-item-4 aui-flex-offset-2 content">登录

        </div>
    </div>
        <div class="aui-padded-15 mobile-login aui-flex-col aui-flex-center aui-hide" id="mobile-register">
          <div class="content aui-margin-15">
                <h1>U惠</h1>
                <h3>FBI WARNING</h3>
          </div>
        <input type="text" placeholder="电话号码/邮箱" name="username" id="mobile_user_id"/>
                                <div class="user_id_content being-hidden" id="mobile_user_id_content">
                                    <i class="fa fa-times" aria-hidden="true" style="color:red;">您输入的手机号或邮箱有误</i>
                                </div>
                                <input type="text" placeholder="昵称" id="mobile_nickname"/>


                                <input type="password" placeholder="密码" id="mobile_password"/>


                                <input type="password" placeholder="请确认您的密码" id="mobile_re-password"/>
                                <div class="user_id_content being-hidden" id="mobile_password_content">
                                    <i class="fa fa-times" aria-hidden="true" style="color:red;">两次密码不一致</i>
                                </div>
                                <div class="aui-list-item-inner aui-padded-15">
                <label class="gender_mobile" ><input class="aui-radio" type="radio" name="radio2" id = "male_mobile" checked > 男 &nbsp;&nbsp;</label>
                <label class="gender_mobile"><input class="aui-radio" type="radio" name="radio2"> 女</label>
            </div>
                                <div class="verification_code being-hidden" id="mobile_verification_code_div">
                                    <input type="text" placeholder="手机验证码" name="verification_code"/>
                                    <a href="" class="button float-right">点击获取</a>
                                </div>
                                <div class="user_id_content being-hidden" id="mobile_login-failed">
                                    <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
                                </div>

<div class="aui-padded-t-15"><a class="mobile_tologin float-left point">已经有账号</a>


            <div class="clear"></div>
        </div>
        <p>
        <div class="aui-btn mobile-button-color aui-btn-block aui-btn-sm" onclick="sign_up();">注册</div>
        </p>
    </div>
    <div class="aui-padded-15 mobile-login aui-hide" id="mobile-login">
          <div class="content aui-margin-15">
                <h1>U惠</h1>
                <h3>FBI WARNING</h3>
          </div>
        <input type="text" placeholder="电话号码/邮箱" id="mobile-login-username"/>


        <input type="password" placeholder="密码" id="mobile-login-password"/>
        <div class="aui-padded-t-15"><a class="mobile_toregister float-left point">我还没有账号</a>

            <a href="" class=" float-right">无法登录？</a>
            <div class="clear"></div>
        </div>
        <div class="aui-padded-t-15">
            <div class="user_id_content float-left being-hidden" id="mobile-login_failed_content"
                 style="width:150px;">
                <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
            </div>

            <div class="clear"></div>
        </div>
        <p>
        <div class="aui-btn mobile-button-color aui-btn-block aui-btn-sm" onclick="login_handler();">登录</div>
        </p>
    </div>

</div>
{% endblock %}
{% block mobile_footer %}
{% endblock %}




{% block body %}
    <div class="container">
        <div class="form-container">
            <div class="content">
                <h1>U惠</h1>
                <h3>FBI WARNING</h3>
            </div>
            <div>
                <ul class="login-ul">
                    <li class="login-li"><a href="#register">注册</a></li>
                    <li class="login-li login-active"><a href="#login">登录</a></li>
                </ul>
            </div>
            <div>
                <div id="user_tab_content" class="tab-content">
                    <div class="tab-pane fade  " id="register">

                        <div class="panel-container">
                            <form method="post" accept-charset="utf-8">


                                <input type="text" placeholder="电话号码/邮箱" name="username" id="user_id"/>
                                <div class="user_id_content being-hidden" id="user_id_content">
                                    <i class="fa fa-times" aria-hidden="true" style="color:red;">您输入的手机号或邮箱有误</i>
                                </div>
                                <input type="text" placeholder="昵称" id="nickname"/>


                                <input type="password" placeholder="密码" id="password"/>


                                <input type="password" placeholder="请确认您的密码" id="re-password"/>
                                <div class="user_id_content being-hidden" id="password_content">
                                    <i class="fa fa-times" aria-hidden="true" style="color:red;">两次密码不一致</i>
                                </div>
                                <div class="verification_code">
                                    <div class="float-left gender_select">请选择您的性别</div>
                                    <select class="gender_select float-right" id="genderchoice">
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                    <div class="clear"></div>
                                </div>
                                <input type="password" name="password" style="display: none;" id="signup-md5-password"/>
                                <div class="verification_code being-hidden" id="verification_code_div">
                                    <input type="text" placeholder="手机验证码" name="verification_code"/>
                                    <a href="" class="button float-right">点击获取</a>
                                </div>
                                <div class="user_id_content being-hidden" id="login-failed">
                                    <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
                                </div>

                                <div class="verification_code">
                                    <a href="/" class="button float-left">返回</a>
                                    <button type="button" class="button float-right" onclick="sign_up();"
                                            id="login-button">
                                        注册
                                    </button>

                                    <div class="clear"></div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="tab-pane fade in active " id="login">

                        <div class="panel-container">
                            <form method="post" accept-charset="utf-8">

                                <input type="text" placeholder="电话号码/邮箱" name="username" id="login-username"/>


                                <input type="password" placeholder="密码" id="login-password" maxlength="16"/>
                                <input type="password" placeholder="密码" name="password" style="display:none;"
                                       id="login-md5-password" maxlength="16"/>


                                <div>
                                    <div class="user_id_content float-left being-hidden" id="login_failed_content"
                                         style="width:150px;">
                                        <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
                                    </div>
                                    <a href="" class="login-a float-right">无法登录？</a>
                                    <div class="clear"></div>
                                </div>


                                <div class="verification_code">

                                    <a href="/" class="button float-left">返回</a>
                                    <button type="button" class="button float-right" onclick="login_handler();">登录
                                    </button>
                                    <div class="clear"></div>
                                </div>
                            </form>
                            <div class="otherlogin-content">
                                <h5>社交账户登录</h5>
                            </div>
                            <div class="otherlogin">

                                <div class="float-left ">
                                    <a href=""><i class="fa fa-weibo fa-2x"></i>
                                    </a>

                                </div>
                                <div class="float-left ">
                                    <a href="/"><i class="fa fa-wechat fa-2x"></i>
                                    </a>

                                </div>

                                <div class="float-left">
                                    <a href=""><i class="fa fa-qq fa-2x"></i> </a>

                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    (function ($) {
                $.getUrlParam = function (name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]); return null;
                }
            })(jQuery);
    var url = $.getUrlParam('method');
    if (url != "register"){
      $("#mobile-register").addClass("aui-hide");
        $("#mobile-login").removeClass("aui-hide");
        $(".login-ul").children()[1].click();

    }
    else {
        $("#mobile-login").addClass("aui-hide");
        $("#mobile-register").removeClass("aui-hide");
        $(".login-ul").children()[0].click();


    }
    var state = ( {

                url: '/login',title:"登录"
    } );

    window.history.pushState(state,"登录",'/login');
    </script>
    <script type="text/javascript">
    $("input[id^='mobile-']").blur('input propertychange', function () {
    var that = "#" + $(this).attr('id').replace("mobile-","");
    $(that).val($(this).val());

});
$("input[id^='mobile_']").blur('input propertychange', function () {
    var that = "#" + $(this).attr('id').replace("mobile_","");
    $(that).val($(this).val());
});
$("label[class='gender_mobile']").click(function () {
    if($(this).children().attr("id") == "male_mobile"){
        $('#genderchoice').val("男");
    }
    else{
        $('#genderchoice').val("女");
    }
})
    $(".mobile_toregister").click(function () {
        $("#mobile-login").addClass("aui-hide");
        $("#mobile-register").removeClass("aui-hide");

    })
    $(".mobile_tologin").click(function () {
        $("#mobile-register").addClass("aui-hide");
        $("#mobile-login").removeClass("aui-hide");


    })
    </script>

{% endblock %}