<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device - width, initial - scale = 1">

    <title>
        Register
    </title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>


    <nav class="navbar navbar-container navbar-default">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Brand</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="form-container">
            <div class="content">
                <h1>U惠</h1>
                <h3>FBI WARNING</h3>
            </div>
            <div>
                <ul class="login-ul">
                    <li class="login-li"><a href="#register">注册</a></li>
                    <li class="login-li login-active"><a href="#login">登录</a></li>
                </ul>
            </div>
            <div>
                <div id="user_tab_content" class="tab-content">
                    <div class="tab-pane fade  " id="register">

                        <div class="panel-container">
                            <form action="/sign-up" method="post" accept-charset="utf-8" onsubmit="return checkForm()">


                                <input type="text" placeholder="电话号码" name="phone_num" />

                                <input type="password" placeholder="密码" id="register_password" id="password" />



                                <input type="password" placeholder="请确认您的密码" id="re-password" />
                                <input type="password" name="password" style="display: none;" />
                                <div class="verification_code">
                                    <input type="text" placeholder="手机验证码" name="verification_code" />
                                    <button>点击获取</button>
                                </div>




                                <div class="verification_code">
                                    <button class="float_left"><a href="/">返回</a></button>
                                    <button type="submit">注册</button>

                                    <div class="clear"></div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="tab-pane fade in active " id="login">

                        <div class="panel-container">
                            <form action="/sign-up" method="post" accept-charset="utf-8" onsubmit="return checkForm()">

                                <input type="text" placeholder="电话号码/邮箱" name="phone_num" />


                                <input type="password" placeholder="密码" name="password" maxlength="8" />


                                <div>

                                    <a href="" class="login-a float-right">无法登录？</a>
                                    <div class="clear"></div>
                                </div>

                                <div class="verification_code">

                                    <button class="float_left"><a href="/">返回</a></button>
                                    <button type="submit">登录</button>
                                    <div class="clear"></div>
                                </div>
                            </form>
                            <div class="otherlogin-content">
                                <h5>社交账户登陆</h5>
                            </div>
                            <div class="otherlogin">

                                <div class="float-left ">
                                    <a href=""><i class="fa fa-weibo fa-2x"></i>
                                    </a>

                                </div>
                                <div class="float-left ">
                                    <a href="/"><i class="fa fa-wechat fa-2x"></i>
                                    </a>

                                </div>

                                <div class="float-left">
                                    <a href=""><i class="fa fa-qq fa-2x"></i> </a>

                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/static/js/jquery-3.2.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>

</html>