{% extends "__base__.html" %}
{% block title %}
    我的优惠券
{% endblock %}

{% block src %}
    <link href="/static/css/aui/aui-flex.css" rel="stylesheet">
{% endblock %}

{% block mobile_header %}
    <div class="aui-flex-col aui-padded-10 mobile-max-user-background">
        <div class="aui-flex-item-4">
            <i class="aui-iconfont aui-icon-left"></i>
        </div>
        <div class="aui-flex-item-4 content">我的优惠券
        </div>
    </div>
    <div class="aui-flex-col aui-padded-t-10 aui-padded-l-5 aui-padded-r-5" style="background: white;">
        <div id="couponsStore" class="aui-flex-item-4 mobile-content mycouponstab mobile-mycoupons-header-content-active">
            未上架的优惠券
        </div>
        <div id="couponsOnSale" class="aui-flex-item-4 mobile-content mycouponstab">
            已上架的优惠券
        </div>
        <div id="couponsExpired" class="aui-flex-item-4 mobile-content mycouponstab">
            已失效的优惠券
        </div>
    </div>

{% endblock %}

{% block mobile_body %}
      <div class="aui-flex-row">
      <div id="forcouponsStore">
      {% if couponsStore %}
        {% for i in couponsStore %}
            <div class="mobile-user-coupons aui-flex-col" id="{{ i.couponID }}">
                <div class="aui-flex-item-3 user-coupons-left">
                    <p class="user-coupons-left-value font-class">
                        ￥{{ i.listPrice }}
                    </p>
                    <p class="user-coupons-left-value">
                        估值:￥{{ i.value }}
                    </p>

                </div>
                <div class="aui-flex-item-9 user-coupons-middle">
                    <div class="user-coupons-middle-value">
                        <p class="font-class">
                            {{ i.brand }}
                        </p>
                    </div>
                    <div class="aui-flex-item-9 user-coupons-middle-value">
                        <p>
                            {{ i.discount }}
                        </p>
                    </div>


                </div>


                <div class="aui-flex-item-12 user-coupons-bottom">
                    <p>截止时间:{{ i.expiredTime }}</p>
                </div>

            </div>

            {% endfor %}
            {% else %}
            <div class="aui-padded-15 aui-margin-15">
            <img src="/static/images/coupons_empty.png">
            <p class="mobile-content">什么！？这里居然是空的！</p>
            </div>

{% endif %}
      </div>
      <div id="forcouponsOnSale" class="aui-hide">
      {% if couponsOnSale %}
        {% for i in couponsOnSale %}
            <div class="mobile-user-coupons aui-flex-col"  id="{{ i.couponID }}">
                <div class="aui-flex-item-3 user-coupons-left">
                    <p class="user-coupons-left-value font-class">
                        ￥{{ i.listPrice }}
                    </p>
                    <p class="user-coupons-left-value">
                        估值:￥{{ i.value }}
                    </p>

                </div>
                <div class="aui-flex-item-9 user-coupons-middle">
                    <div class="user-coupons-middle-value">
                        <p class="font-class">
                            {{ i.brand }}
                        </p>
                    </div>
                    <div class="aui-flex-item-9 user-coupons-middle-value">
                        <p>
                            {{ i.discount }}
                        </p>
                    </div>


                </div>


                <div class="aui-flex-item-12 user-coupons-bottom">
                    <p>截止时间:{{ i.expiredTime }}</p>
                </div>

            </div>

            {% endfor %}
            {% else %}
            <div class="aui-padded-15 aui-margin-15">
            <img src="/static/images/coupons_empty.png">
            <p class="mobile-content">什么！？这里居然是空的！</p>
            </div>

{% endif %}
      </div>
      <div id="forcouponsExpired" class="aui-hide">
      {% if couponsExpired %}
        {% for i in couponsExpired %}
            <div class="mobile-user-coupons aui-flex-col"  id="{{ i.couponID }}">
                <div class="aui-flex-item-3 user-coupons-left">
                    <p class="user-coupons-left-value font-class">
                        ￥{{ i.listPrice }}
                    </p>
                    <p class="user-coupons-left-value">
                        估值:￥{{ i.value }}
                    </p>

                </div>
                <div class="aui-flex-item-9 user-coupons-middle">
                    <div class="user-coupons-middle-value">
                        <p class="font-class">
                            {{ i.brand }}
                        </p>
                    </div>
                    <div class="aui-flex-item-9 user-coupons-middle-value">
                        <p>
                            {{ i.discount }}
                        </p>
                    </div>


                </div>


                <div class="aui-flex-item-12 user-coupons-bottom">
                    <p>失效原因:{{ i.expiredReason }}</p>
                </div>

            </div>

            {% endfor %}
            {% else %}
            <div class="aui-padded-15 aui-margin-15">
            <img src="/static/images/coupons_empty.png">
            <p class="mobile-content">什么！？这里居然是空的！</p>
            </div>

{% endif %}
      </div>
    </div>
{% endblock %}
{% block mobile_footer %}
{% endblock %}

{% block computer_navbar %}
{% endblock %}

{% block body %}{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $(".mycouponstab").click(function () {
        var couponshow = '#for' + $(this).attr("id");
        $(this).addClass("mobile-mycoupons-header-content-active");
        $(this).siblings().removeClass("mobile-mycoupons-header-content-active");
        $(couponshow).removeClass("aui-hide");
        $(couponshow).siblings().addClass("aui-hide");
    })
    $(".mobile-user-coupons").click(function () {
        window.location.href = "/commodity?conponID="+$(this).attr("id");

    })
    </script>
{% endblock %}