{% extends "__base__.html" %}
{% block title %}U惠网 {% endblock %}
{% block src %} {% endblock %}
{% block mobile_header %}
<header class = "aui-bar aui-bar-nav">
    <a class = "aui-pull-left aui-btn" href="javascript:history.back(-1)">
        <span class = "aui-iconfont aui-icon-left"></span>
    </a>
    <div class = "aui-title">个人资料</div>
</header>
{% endblock %}
{% block mobile_body %}

<div class = "aui-content aui-margin-b-15">
    <ul class = "aui-list aui-list-in">
        <li class = "aui-list-item aui-padded-15" id="changeavatar">
            <div class = "aui-media-list-item-inner">
                <div class = "aui-list-item-inner">
                    <div class = "aui-list-item-title">头像</div>
                </div>
                <div class = "aui-list-item-arrow"></div>
            </div>
            <div>
                <img src="/static/images/dva_4.jpg" class = "mobile-max-user-photo">
            </div>
        </li>
        <li class = "aui-list-item" onclick="change('name')">
            <div class = "aui-list-item-inner aui-list-item-arrow">
                <div class = "aui-list-item-title">用户名</div>
                <div class = "aui-list-item-right" id = "old_name">有趣的名字</div>
            </div>
        </li>
        <li class = "aui-list-item">
            <div class="aui-list-item-inner">
                <div class = "aui-list-item-title">性别</div>
                <div style="float:right;">
                <label style="padding:0 20px 0 0;"><input class="aui-radio" type="radio" name="radio" style="background-color:#dddddd;border-color:#dddddd;vertical-align:middle;" checked>男</label>
                <label><input class="aui-radio" type="radio" name="radio" style="background-color:#dddddd;border-color:#dddddd;vertical-align:middle;">女</label>
                </div>
            </div>
        </li>
    </ul>
    <ul class = "aui-list aui-list-in">
        <li class = "aui-list-item" onclick="change('phonenum')">
            <div class = "aui-list-item-inner aui-list-item-arrow">
                <div class = "aui-list-item-title">绑定手机号</div>
                <div class = "aui-list-item-right" id = "old_phonenum">187********</div>
            </div>
        </li>
        <li class = "aui-list-item" onclick="change('password')">
            <div class = "aui-list-item-inner aui-list-item-arrow">
                <div class = "aui-list-item-title">修改密码</div>
            </div>
        </li>
    </ul>
</div>
         <div id="modal-wrapper">
                <div id="modal-backdrop">
                </div>
    </div>
     <script src="/static/js/jquery-3.2.1.js"></script>
       <script type="text/javascript">
                apiready = function () {
                    api.parseTapmode();
                };
              $("#changeavatar").click(function () {
                        $("#modal-wrapper").addClass("modal-wrapper");
                        $("#modal-backdrop").addClass("modal-backdrop modal-backdrop-grey");
                        $("body").css("overflow-y","hidden");
                });
            </script>
{% endblock %}
{% block mobile_footer %} {% endblock %}
{% block body %} {% endblock %}
{% block scripts %}
<script type="text/javascript">
var dialog = new auiDialog({})
function change(type){
var old_name = document.getElementById("old_name").innerHTML;
var old_phonenum = document.getElementById("old_phonenum").innerHTML;
        switch (type) {
        case "name":
                dialog.prompt({
                    title:"请输入新的用户名",
                    text:old_name,
                    buttons:['取消','确定']
                },function(ret){
                    if(ret.buttonIndex == 2){
                        dialog.alert({
                            title:"",
                            msg: "修改完成,新用户名为" + ret.text,
                            buttons:['确定']
                        })
                        old_name = ret.text;
                    }
                })
                break;
        case "phonenum":
                dialog.prompt({
                    title:"请输入新绑定的手机号",
                    text:"",
                    buttons:['取消','确定']
                },function(ret){
                    if(ret.buttonIndex == 2){
                        dialog.alert({
                            title:"",
                            msg: "修改完成",
                            buttons:['确定']
                        });
                    }
                })
                break;
        case "password":
                dialog.prompt({
                    title:"请输入新的密码",
                    text:"",
                    buttons:['取消','确定']
                },function(ret){
                    if(ret.buttonIndex == 2){
                        dialog.alert({
                            title:"",
                            msg: "修改完成",
                            buttons:['确定']
                        });
                    }
                })
                break;
            default:
                break;
                }}
function changeavatar() {

}
</script>
{% endblock %}