{% extends "__base__.html" %}
{% block title %}
    消息
{% endblock %}

{% block src %}
    <link href="/static/css/aui/aui-flex.css" rel="stylesheet">
{% endblock %}

{% block mobile_header %}
    <div class="aui-flex-col aui-padded-10 mobile-max-user-background">
        <div class="aui-flex-item-4">
            <i class="aui-iconfont aui-icon-left"></i>
        </div>
        <div class="aui-flex-item-4 content">消息
        </div>
    </div>

{% endblock %}

{% block mobile_body %}
      <div class="aui-flex-row">

            <div class="mobile-coupons-message aui-flex-col aui-padded-15">
                <div class="aui-flex-item-2">
                  <i class="aui-iconfont aui-icon-mail" style="font-size: 2rem;"></i>
                </div>
                <div class="aui-flex-item-10">
                    <p style="font-size:0.8rem;line-height: 1rem;" class="aui-margin-b-5 aui-ellipsis-2">
                    上架的优惠券已被购买 上架的优惠券已被购买 上架的优惠券已被购买
                </p>
                 <p style="font-size:0.6rem;height: 0.6rem;line-height: 0.6rem;" class="aui-margin-b-5">
                     一天前</p>

                </div>



            </div>

            <div class="aui-padded-15 aui-margin-15">
            <img src="/static/images/coupons_empty.png">
            <p class="mobile-content">什么！？这里居然是空的！</p>
            </div>

    </div>
{% endblock %}
{% block mobile_footer %}
{% endblock %}

{% block computer_navbar %}
{% endblock %}

{% block body %}{% endblock %}

{% block scripts %}{% endblock %}