{% extends "__base__.html" %}
{% block title %}U惠网 {% endblock %}
{% block src %} {% endblock %}
{% block phone_header %}
<header class = "aui-bar aui-bar-nav">
    <a class = "aui-pull-left aui-btn">
        <span class = "aui-iconfont aui-icon-left"></span>
    </a>
    <div class = "aui-title">品种</div>
</header>
{% endblock %}
{% block phone_body %}
<div class = "aui-content aui-margin-b-15">
    <ul class = "aui-list aui-list-in">
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                生活百货
            </div>
        </li>
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                美妆妆饰
            </div>
        </li>
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                文娱体育
            </div>
        </li>
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                家居家具
            </div>
        </li>
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                电子产品
            </div>
        </li>
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                服装装饰
            </div>
        </li>
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                旅行住宿
            </div>
        </li>
        <li class = "aui-list-item phone-max-line">
            <div class = "aui-list-item-inner">
                饮食保健
            </div>
        </li>
    </ul>
</div>
<footer class = "aui-bar aui-bar-tab">
    <div class = "aui-bar-tab-item aui-active" tapmode>
    <div style="background-color:#ff5a00;color:white;">
        <div class = "aui-btn aui-btn-block aui-btn-outlined">
            确认
        </div>
    </div>
    </div>
</footer>
{% endblock %}
{% block phone_footer %} {% endblock %}
{% block body %} {% endblock %}
{% block scripts %} {% endblock %}