{% extends "__base__.html" %}
{% block title %}添加方式{% endblock %}
{% block src %}
<link href="/static/css/aui/aui-flex.css" rel="stylesheet">
{% endblock %}
{% block mobile_header %}
{% endblock %}
{% block mobile_body %}

<div style="position:absolute;top:50%;width:100%;">
<h2 class = "aui-text-center" style="margin:0 auto;">请选择添加优惠券的方式</h2>
</div>
<div class="aui-flex-col" style="position:absolute;bottom:0;width:100%;top:60%;">
<div class="aui-flex-item-6">
    <img src = "/static/images/dva_4.jpg" style="border-radius:50%;width:150px;height:150px;margin:0 auto;">
</div>
<div class="aui-flex-item-6">
    <a href = "/mobile_appraisement">
    <img src = "/static/images/dva_4.jpg" style="border-radius:50%;width:150px;height:150px;margin:0 auto;">
    </a>
</div>
</div>
<div>
    <a href="javascript:history.back(-1)" style="color:black;">
    <i class = "aui-iconfont aui-icon-close" style="font-size:30px;position:absolute;top:90%;left:175px;"></i>
    </a>
</div>
{% endblock %}
{% block mobile_footer %} {% endblock %}
{% block body %} {% endblock %}
{% block scripts %} {% endblock %}