{% extends "__base__.html" %}
{% block title %}添加方式{% endblock %}
{% block src %} {% endblock %}
{% block phone_header %}
{% endblock %}
{% block phone_body %}

<div style="position:absolute;top:50%;width:100%;">
<h2 class = "aui-text-center">请选择添加优惠券的方式</h2>
</div>
<div style="position:absolute;top:60%;left:0px;">
    <img src = "/static/images/dva_4.jpg" style="border-radius:50%;width:150px;height:150px;">
</div>
<div style="position:absolute;top:60%;left:225px;">
    <img src = "/static/images/dva_4.jpg" style="border-radius:50%;width:150px;height:150px;">
</div>
<div>
    <i class = "aui-iconfont aui-icon-close" style="font-size:30px;position:absolute;top:90%;left:175px;"></i>
</div>
{% endblock %}
{% block phone_footer %} {% endblock %}
{% block body %} {% endblock %}
{% block scripts %} {% endblock %}