{% extends "__base__.html" %}
{% block title %}
    我的优惠券
{% endblock %}

{% block src %}
<link href="/static/css/aui/aui-flex.css" rel="stylesheet">
{% endblock %}

{% block phone_header %}
    <div class="aui-flex-col aui-flex-center aui-padded-15">
    <div class="aui-flex-item-4">
        <img src="/static/images/dva_1.jpg" class="phone-user-avator">
    </div>
    </div>
{% endblock %}

{% block phone_body %}
{% endblock %}
{% block phone_footer %}
{% endblock %}

{% block computer_navbar %}
{% endblock %}

{% block body %}{% endblock %}

{% block scripts %}{% endblock %}