{% extends "__base__.html" %} {% block title %}搜索结果 {% endblock %} {% block src %} {% endblock %} {% block body %}

<div class="container">

    <!--<div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="btn-group select-div">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                按优惠券售价排序<span class = "caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>从高到低</li>
                    <li>从低到高</li>
                </ul>

                &nbsp;&nbsp;&nbsp;
            </div>

            <div class="select-div">
                <input type="text" class="select-box"> &nbsp;&nbsp;&nbsp;
            </div>

            <p class="select-div">~ &nbsp;&nbsp;</p>

            <div class="select-div">
                <input type="text" class="select-box">&nbsp;&nbsp;&nbsp;
            </div>

            <div class="select-div">
                <button type="button" class="btn btn-info">
                查询
            </button> &nbsp;&nbsp;&nbsp;
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <div class="btn-group select-div">

                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                按优惠额度排序<span class = "caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li>从高到低</li>
                    <li>从低到高</li>
                </ul>
                &nbsp;&nbsp;&nbsp;
            </div>
            <div class="select-div">
                <input type="text" class="select-box"> &nbsp;&nbsp;&nbsp;
            </div>

            <p class="select-div">~ &nbsp;&nbsp;</p>

            <div class="select-div">
                <input type="text" class="select-box">&nbsp;&nbsp;&nbsp;
            </div>

            <div class="select-div">
                <button type="button" class="btn btn-info">
                查询
            </button>
            </div>
        </div>
    </div>
-->

    <div class="row">
{% if coupons %}
        {% for i in coupons %}
        <div class="col-xs-6">
            <div class="user-coupons row">
                <div class="col-xs-3 user-coupons-left">
                    <p class="user-coupons-left-value">
                        ￥{{ i.listPrice }}
                    </p>
                    <p>
                        估值:￥{{ i.value }}
                    </p>

                </div>
                <div class="col-xs-6 user-coupons-middle">
                    <div class="col-xs-6 user-coupons-middle-value">
                        <p class="font-class">
                            {{ i.brand }}
                        </p>
                    </div>
                    <div class="col-xs-6 user-coupons-middle-value">
                        <p>
                            {{ i.discount }}
                        </p>
                    </div>
                    <div class="col-xs-6  user-coupons-middle-value">
                        {% for k in i.limits %}
                        <p class="user-coupons-middle-value-limits-p">{{ k }}</p>
                        {% endfor %}
                    </div>


                </div>

                <div class="col-xs-12  user-coupons-bottom">
                    <p>截止时间:{{ i.expiredTime }}</p>
                </div>

            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="content-text">
            <img src="/static/images/coupons_empty.png">
            <p >什么！？这里居然是空的！</p>
            </div>
    {% endif %}
        <div>
        </div>
        <div>
        </div>
    </div>

    <nav aria-label="Page navigation" class="page-fix">
        <ul class="pagination" id="pagination">

            <li><a href="#"></a></li>

        </ul>
    </nav>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    function getmaxandindexpage(max,current) {
        $("#nav-search").attr('placeholder','{{ keyWord }}');
        $("#pagination").children().remove();
        var before = current -1;
        var after = current +1;
        if( before > 0) {
            $("#pagination").append($("<li><a href=\"" + "post_search?keyWord={{ keyWord }}&page=" + before + "\" aria-label=\"Previous\"><span aria-hidden=\"true\">&laquo;</span></a></li>"));
        }
        for(var i=1;i<=max;i++){
            var $dom = $("<li><a href=\""+  "post_search?keyWord={{ keyWord }}&page=" + i +"\">"+ i + "</a></li>");
            if( i === current){
                $dom.children().css("color","black");
            }
            $("#pagination").append($dom);
        }
        if(after <= max) {
            $("#pagination").append($("<li><a href=\"" + "post_search?keyWord={{ keyWord }}&page=" + after + "\" aria-label=\"Previous\"><span aria-hidden=\"true\">&raquo;</span></a></li>"));
        }
        }
    getmaxandindexpage({{ maxPage }},{{ currentPage }});
    </script>
{% endblock %}