<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device - width, initial - scale = 1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>搜索结果</title>
</head>

<body>
    <!--导航栏-->
    <nav class="navbar">

        <div class="container">
            <div class="row">

                <!--Logo-->
                <div class="navbar-header col-lg-1 col-md-1  col-sm-1 ">
                    <a class="navbar-brand" href="">Brand</a>
                </div>
                <div class="col-lg-2 col-md-2  col-sm-2 city-position">
                    <div style="margin: 0 15px 0 15px;"></div>
                </div>

                <!--搜索-->
                <div class="navbar-search col-lg-6 col-md-6  col-sm-6">
                    <form class="navbar-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索" id="nav-search">
                        </div>
                        <button type="submit" class="btn btn-default" onclick="search();"><span class="fa fa-arrow-right"></span></button>
                    </form>
                </div>

                <!--注册/登录-->
                <div class="col-lg-3 col-md-3  col-sm-3">
                    <ul class="nav-login row">
                        {% if userid %}
                        <li class="col-lg-4 col-md-4  col-sm-4">
                            <i class="fa fa-comment point showsinglemessage" id="singlemessage"></i>
                            <i class="fa fa-caret-up message-div-arrow" aria-hidden="true"></i>
                            <div class="being-hidden message-div" id="forsinglemessage">
                                <div class="message-div-header row">
                                    <div style="margin: 5px 0 5px 0;">
                                        <div class="col-lg-4 col-md-4  col-sm-4 border-right message-div-header-category">
                                            <img src="/static/images/youhuiquan.png">
                                        </div>
                                        <div class="col-lg-4 col-md-4  col-sm-4 border-right message-div-header-category">
                                            <img src="/static/images/systemmessage.png">
                                        </div>

                                        <div class="col-lg-4 col-md-4  col-sm-4 message-div-header-category">
                                            <img src="/static/images/systemmessage.png">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="message-div-body">
                                        {% for i in couponsOwn %}
                                        <div class="message-div-body-content">
                                            {{ i.product }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="message-div-footer">
                                        <div class="col-lg-4 col-md-4  col-lg-4 col-lg-offset-8 col-md-offset-8  col-sm-offset-8 ">
                                            <a href="#">查看全部</a></div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <i class="fa fa-comment point"></i>

                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">

                            <div class="profile-photo-div point" id="userinfo"><img src="/static/images/dva_1.jpg">
                            </div>
                            <div class="being-hidden userinfo-div" id="foruserinfo">
                                <span> {{ nickname }}</span>
                                <span> U币余额:{{ UCoin }}</span>
                                <span><a href="/user">用户中心</a></span>
                            </div>

                        </li>
                        {% else %}
                        <li class="col-lg-6 col-md-6  col-sm-6">
                            <a href="/login?method=register">注册
                                <span class="glyphicon glyphicon-user hidden-sm"></span>
                            </a>
                        </li>
                        <li class="col-lg-6 col-md-6  col-sm-6">
                            <a href="/login?method=login">登录
                                <span class="glyphicon glyphicon-user  hidden-sm"></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <!--end Login-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </div>
        <!--end nav-->
    </nav>

    <div class="container">
        <div class="row">
            <div class="button-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                按位置排序<span class = "caret"></span>
            </button>
                    <ul class="dropdown-menu">
                        <li>离我最近</li>
                        <li>热门商圈</li>
                    </ul>
                </div>&nbsp
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                按优惠额度排序<span class = "caret"></span>
            </button>
                    <ul class="dropdown-menu">
                        <li>小于10元</li>
                        <li>10~50元</li>
                        <li>大于50元</li>
                        <li>自定义额度</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--第一行搜索结果-->
        <div class="row">
            <!--一行有两个搜索结果-->
               {% for i in coupons %}
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="user-coupons row">
                                    <div class="col-md-3 col-lg-3 col-sm-3 user-coupons-left">
                                        <p class="user-coupons-left-value">
                                            ￥{{ i.listPrice }}
                                        </p>
                                        <p>
                                            估值:￥{{ i.value }}
                                        </p>

                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-6 user-coupons-middle">
                                        <div class="user-coupons-middle-value col-md-6 col-lg-6 col-sm-6">
                                            <p class="font-class">
                                                {{ i.brand }}
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-6 user-coupons-middle-value">
                                            <p>
                                                {{ i.discount }}
                                            </p>
                                        </div>
                                        <div class="col-md-12 col-lg-12 col-sm-12 user-coupons-middle-value">
                                            {% for k in i.limits %}
                                            <p class="user-coupons-middle-value-limits-p">{{ k }}</p>
                                            {% endfor %}
                                        </div>


                                    </div>

                                    <div class="col-md-12 col-lg-12 col-sm-12 user-coupons-bottom">
                                        <p>截止时间:{{ i.expiredTime }}</p>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
            <div>
            </div>
            <div>
            </div>
        </div>

        <nav aria-label="Page navigation" class="page-fix">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="/static/js/jquery-3.2.1.js "></script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/jquery.md5.js "></script>
    <script src="/static/js/index.js "></script>
<script src="/static/js/search.js "></script>
</body>

</html>