<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device - width, initial - scale = 1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>用户中心</title>
</head>

<body>
    <nav class="navbar">

        <div class="container">
            <div class="row">

                <!--Logo-->
                <div class="navbar-header col-lg-1 col-md-1  col-sm-1 ">
                    <a class="navbar-brand" href="">Brand</a>
                </div>
                <div class="col-lg-2 col-md-2  col-sm-2 city-position">
                    <div style="margin: 0 15px 0 15px;"></div>
                </div>

                <!--注册/登录-->
                <div class="navbar-search col-lg-6 col-md-6  col-sm-6">
                    <form class="navbar-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="fa fa-arrow-right"></span></button>
                    </form>
                </div>

                <div class="col-lg-3 col-md-3  col-sm-3">
                    <ul class="nav-login row">
                        {% if userid %}
                        <li class="col-lg-4 col-md-4  col-sm-4">
                            <i class="fa fa-comment point showsinglemessage" id="singlemessage"></i>
                            <i class="fa fa-caret-up message-div-arrow" aria-hidden="true"></i>
                            <div class="being-hidden message-div" id="forsinglemessage">
                                <div class="message-div-header row">
                                    <div style="margin: 5px 0 5px 0;">
                                        <div class="col-lg-4 col-md-4  col-sm-4 border-right message-div-header-category">
                                            <img src="/static/images/youhuiquan.png">
                                        </div>
                                        <div class="col-lg-4 col-md-4  col-sm-4 border-right message-div-header-category">
                                            <img src="/static/images/systemmessage.png">
                                        </div>

                                        <div class="col-lg-4 col-md-4  col-sm-4 message-div-header-category">
                                            <img src="/static/images/systemmessage.png">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="message-div-body">
                                        {% for i in couponsOwn %}

                                        <div class="message-div-body-content">
                                            {{ i.product }}
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="message-div-footer">
                                        <div class="col-lg-4 col-md-4  col-lg-4 col-lg-offset-8 col-md-offset-8  col-sm-offset-8 ">
                                            <a href="#">查看全部</a></div>
                                    </div>
                                </div>
                            </div>


                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">
                            <i class="fa fa-comment point"></i>


                        </li>
                        <li class="col-lg-4 col-md-4 col-sm-4">

                            <div class="profile-photo-div point" id="userinfo"><img src="/static/images/dva_1.jpg">
                            </div>
                            <div class="being-hidden userinfo-div" id="foruserinfo">

                                <span> {{ nickname }}</span>
                                <span> U币余额:{{ UCoin }}</span>
                                <span><a href="/user">用户中心</a></span>
                            </div>

                        </li>
                        {% else %}
                        <li class="col-lg-6 col-md-6  col-sm-6">
                            <a href="/login?method=register">注册
                                <span class="glyphicon glyphicon-user hidden-sm"></span>
                            </a>
                        </li>
                        <li class="col-lg-6 col-md-6  col-sm-6">
                            <a href="/login?method=login">登录
                                <span class="glyphicon glyphicon-user  hidden-sm"></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="panel-group col-md-2 user-left-menu" id="user_menu">
                <div class="username-text-css">
                    <div class="profile-photo-div">
                        <img src="/static/images/dva_1.jpg">
                    </div>
                    <span>&nbsp;{{ nickname }}</span>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#user_menu" href="#user_own_list" style="display:block;text-align:center">
                            我的优惠
                            <span class="caret "></span></a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="user_own_list">
                        <div class="panel-body ">
                            <li><a href="# ">当前持有</a></li>
                            <li><a href="# ">正在出售</a></li>
                            <li><a href="# ">我的关注</a></li>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#user_menu" href="#user_trade_list" style="display:block;text-align:center">
                            我的钱包
                            <span class="caret "></span></a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse " id="user_trade_list">
                        <div class="panel-body ">
                            <li><a href="# ">我的余额</a></li>
                            <li><a href="# ">最近买入</a></li>
                            <li><a href="# ">最近卖出</a></li>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#user_menu" href="#user_message_list" style="display:block;text-align:center">
                            我的消息<span class="caret"></span></a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="user_message_list">
                        <div class="panel-body">
                            <li><a href="# ">系统公告</a></li>
                            <li><a href="# ">交易提示</a></li>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="user_menu">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#user_menu" href="#user_setting_content" style="display:block;text-align:center">
                            个人设置</a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default" id="user_menu">
                    <div class="panel-heading ">
                        <h4 class="panel-title ">
                            <a data-toggle="collapse " data-parent="#user_menu " href="#user_help_content" style="display:block;text-align:center">
                                帮助</a>
                        </h4>
                    </div>
                </div>

            </div>

            <div class=" col-md-8">

                <div>
                    <ul class="nav nav-tabs ">
                        <li role="presentation " id="user_own_have">
                            <a href="#own_have">当前持有</a>
                        </li>
                        <li role="presentation " id="user_own_sale">
                            <a href="#own_sale">正在出售</a>
                        </li>
                        <li role="presentation " id="user_own_focus">
                            <a href="#own_focus">我的关注</a>
                        </li>
                    </ul>

                    <hr/>

                    <div class="tab-content being-hidden" id="own_have">
                        <div class="tab-pane fade">
                            <div class="row ">
                                <div class="col-md-2 uhui-body ">
                                    <img class="img_suit " src="/static/images/dva_4.jpg ">
                                </div>
                                <div class="col-md-2 uhui-body ">
                                    <div class="uhui-partbody uhui-content ">
                                        商家名
                                    </div>
                                    <div class="uhui-partbody uhui-content ">
                                        截止时间
                                    </div>
                                </div>
                                <div class="col-md-6 uhui-body uhui-content ">
                                    内容
                                </div>
                                <div class="col-md-2 uhui-body uhui-content ">
                                    估值
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content being-hidden" id="own_sale">
                        <div class="tab-pane fade">
                        </div>
                    </div>

                    <div class="tab-content being-hidden" id="own_focus">
                        <div class="tab-pane fade">
                        </div>
                    </div>
                </div>

                <div>
                    <ul class="nav nav-tabs being-hidden">
                        <li role="presentation " id="user_trade_balance">
                            <a href="#trade_balance">我的余额</a>
                        </li>
                        <li role="presentation " id="user_trade_buy">
                            <a href="#trade_buy">最近买入</a>
                        </li>
                        <li role="presentation " id="user_trade_sale">
                            <a href="#trade_sale">最近卖出</a>
                        </li>
                    </ul>

                    <hr/>

                    <div class="tab-content being-hidden" id="trade_balance">
                        <div class="tab-pane fade">
                        </div>
                    </div>

                    <div class="tab-content being-hidden" id="trade_buy">
                        <div class="tab-pane fade">
                        </div>
                    </div>

                    <div class="tab-content being-hidden" id="trade_sale">
                        <div class="tab-pane fade">
                        </div>
                    </div>
                </div>

                <div>
                    <ul class="nav nav-tabs being-hidden">
                        <li role="presentation " id="user_message_system">
                            <a href="#message_system">系统公告</a>
                        </li>
                        <li role="presentation " id="user_message_trade">
                            <a href="#message_trade">交易信息</a>
                        </li>
                    </ul>

                    <hr/>

                    <div class="tab-content being-hidden" id="message_system">
                        <div class="tab-pane fade">
                        </div>
                    </div>

                    <div class="tab-content being-hidden" id="message_trade">
                        <div class="tab-pane fade">
                        </div>
                    </div>
                </div>

                <div>
                    <ul class="nav nav-tabs being-hidden">
                        <li role="presentation " id="user_setting_content">
                            <a href="#setting_content">个人资料</a>
                        </li>
                    </ul>

                    <div class="tab-content being-hidden" id="setting_content">
                        <div class="tab-pane fade in active">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="newname" class="col-md-2 control-label">昵称</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="newname" placeholder="请输入您的新昵称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <lable for="newpassword" class="col-md-2 control-label"><b>密码</b></lable>
                                    <div class="col-md-7">
                                        <input type="password" class="form-control" id="newpassword" placeholder="请输入您的新密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newemail" class="col-md-2 control-label">邮箱</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="newemail" placeholder="请输入您的新邮箱">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newtelno" class="col-md-2 control-label">手机号</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="newtelno" placeholder="请输入您的新号码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <lable for="newsex" class="col-md-2 control-label"><b>性别</b></lable>
                                    <div>
                                        <label class="checkbox-inline">
                                    <input type="radio" name="newsex" id="newmale" value="male">
                                    男
                                </label>
                                        <label class="checkbox-inline">
                                    <input type="radio" name="newsex" id="newfemale" value="female">
                                    女
                                </label>
                                    </div>
                                </div>
                                <hr/>
                                <div class="col-md-2 col-md-offset-1">
                                    <button type="button" class="btn btn-primary">提交修改</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div>
                    <ul class="nav nav-tabs being-hidden">
                        <li role="presentation " id="user_help_content">
                            <a href="#help_content">帮助信息</a>
                        </li>
                    </ul>

                    <div class="tab-content being-hidden" id="help_content">
                        <div class="tab-pane fade">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-3.2.1.js "></script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/jquery.md5.js "></script>
    <script src="/static/js/index.js "></script>
</body>

</html>