<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device - width, initial - scale = 1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>用户中心</title>
</head>

<body>
    <nav class="navbar navbar-container navbar-default">
        <div class="recontainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targer="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class = "sr-only">Toggle navigation</span>
                      <span class = "icon-bar"></span>
                      <span class = "icon-bar"></span>
                      <span class = "icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Brand</a>
            </div>

            <div class="navbar-search">
                <form class="navbar-form ">
                    <input type="text" class="form-control" placeholder="搜索">
                    <button type="submit" class="btn btn-default"><span class="fa fa-arrow-right"></span></button>
                </form>
            </div>

            <div class="collapse navbar-collapse" id="homepage_user">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> 用户中心
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的关注</a></li>
                            <li><a href="#">我的钱包</a></li>
                            <li><a href="#">我的交易</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-envelope"></span>消息中心
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-usd"></span>充值中心
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="recontainer">
        <div class="row">

            <div class="panel-group col-md-2">
                <p>Username</p>
                <div class="panel panel-default" id="user_own_menu">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#user_own_menu" href="#user_own_content" style="display:block;text-align:center">
                            我的优惠
                            <span class = "caret "></span>
                        </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse " id="user_own_content ">
                        <div class="panel-body ">
                            <li><a href="# ">当前持有</a></li>
                            <li><a href="# ">正在出售</a></li>
                            <li><a href="# ">我的关注</a></li>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default " id="user_trade_menu ">
                    <div class="panel-heading ">
                        <h4 class="panel-title ">
                            <a data-toggle="collapse " data-parent="#user_trade_menu " href="#user_trade_content" style="display:block;text-align:center">
                            我的钱包
                            <span class = "caret "></span>
                        </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse " id="user_trade_content ">
                        <div class="panel-body ">
                            <li><a href="# ">我的余额</a></li>
                            <li><a href="# ">最近买入</a></li>
                            <li><a href="# ">最近卖出</a></li>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default " id="user_message_menu ">
                    <div class="panel-heading ">
                        <h4 class="panel-title ">
                            <a data-toggle="collapse " data-parent="#user_message_menu " href="#user_message_content " style="display:block;text-align:center">
                            我的消息 <span class = "caret "></span>
                        </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse " id="user_message_content ">
                        <div class="panel-body ">
                            <li><a href="# ">系统公告</a></li>
                            <li><a href="# ">交易提示</a></li>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default " id="user_setting_menu ">
                    <div class="panel-heading ">
                        <h4 class="panel-title ">
                            <a data-toggle="collapse " data-parent="#user_setting_menu " href="#user_setting_content " style="display:block;text-align:center">
                            个人设置
                        </a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default " id="user_help_menu ">
                    <div class="panel-heading ">
                        <h4 class="panel-title ">
                            <a data-toggle="collapse " data-parent="#user_help_menu " href="#user_help_content " style="display:block;text-align:center">帮助</a>
                        </h4>
                    </div>
                </div>

            </div>

            <div class=" col-md-8">
                <ul class="nav nav-tabs being-hidden">
                    <li role="presentation " class="active ">
                        <a href="# ">当前持有</a>
                    </li>
                    <li role="presentation ">
                        <a href="# ">正在出售</a>
                    </li>
                    <li role="presentation ">
                        <a href="# ">我的关注</a>
                    </li>
                </ul>

                <ul class="nav nav-tabs">
                    <li role="presentation " class="active ">
                        <a href="# ">个人资料</a>
                    </li>
                </ul>

                <hr/>

                <div class="tab-content being-hidden">
                    <div class="tab-pane fade">
                        <div class="row ">
                            <div class="col-md-2 uhui-body ">
                                <img class="img_suit " src="/static/images/dva_4.jpg ">
                            </div>
                            <div class="col-md-2 uhui-body ">
                                <div class="uhui-partbody uhui-content ">
                                    商家名
                                </div>
                                <div class="uhui-partbody uhui-content ">
                                    截止时间
                                </div>
                            </div>
                            <div class="col-md-6 uhui-body uhui-content ">
                                内容
                            </div>
                            <div class="col-md-2 uhui-body uhui-content ">
                                估值
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div>
                            <div class="col-md-3  user-setting ">
                                <img src="/static/images/dva_4.jpg" class=" img_suit">
                            </div>
                            <button type="button" class="btn btn-primary">选择头像</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery-3.2.1.js "></script>
    <script src="/static/js/bootstrap.min.js "></script>
    <script src="/static/js/jquery.md5.js "></script>
    <script src="/static/js/index.js "></script>
</body>

</html>