<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device - width, initial - scale = 1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>用户中心</title>
</head>

<body>
    <nav class="navbar navbar-container navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targer="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class = "sr-only">Toggle navigation</span>
                      <span class = "icon-bar"></span>
                      <span class = "icon-bar"></span>
                      <span class = "icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Brand</a>
            </div>

            <div class="navbar-search">
                <form class="navbar-form ">
                    <input type="text" class="form-control" placeholder="搜索">
                    <button type="submit" class="btn btn-default"><span class="fa fa-arrow-right"></span></button>
                </form>
            </div>

            <div class="collapse navbar-collapse" id="homepage_user">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> 用户中心
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的关注</a></li>
                            <li><a href="#">我的钱包</a></li>
                            <li><a href="#">我的交易</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-envelope"></span>消息中心
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">系统消息</a></li>
                            <li><a href="#">交易信息</a></li>
                            <li><a href="#">交流信息</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-usd"></span>充值中心
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="panel-group menu-left">
            <p>Username</p>
            <div class="panel panel-default" id="user_own_menu">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#user_own_menu" href="#user_own_content">
                            我的优惠
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="user_own_content">
                    <div class="panel-body">
                        <li><a href="#">当前持有</a></li>
                        <li><a href="#">正在出售</a></li>
                        <li><a href="#">最近买入</a></li>
                        <li><a href="#">最近卖出</a></li>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" id="user_message_menu">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#user_message_menu" href="#user_message_content">
                            我的消息
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="user_message_content">
                    <div class="panel-body">
                        <li><a href="#">系统公告</a></li>
                        <li><a href="#">交易提示</a></li>
                    </div>
                </div>
            </div>
        </div>


        <div class="menu-right">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#">当前持有</a>
                </li>
                <li role="presentation">
                    <a href="#">正在出售</a>
                </li>
                <li role="presentation">
                    <a href="#">最近卖出</a>
                </li>
                <li role="presentation">
                    <a href="#">最近买入</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.md5.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>