body {
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

li {
    list-style-type: none;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-container {
    margin-right: auto;
    margin-left: auto;
}

.navbar-search {
    width: 100%;
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
}

.navbar-search .form-group {
    display: inline-block;
    width: 33%;
}

.navbar-search .form-group .form-control {
    display: inline-block;
    width: 100%;
    border-radius: 0;
}

.navbar-search .form-group .form-control:focus {
    border-radius: 0;
}

.navbar-search .btn {
    left: -4px;
    position: relative;
    border-radius: 0;
    border: 1px solid #f25039;
    border-left: 0;
    width: 40px;
    background-color: #f25039;
    color: white;
}

@media screen and (max-width: 767px) {
    .navbar-search {
        display: none;
    }
}

.category-left {
    float: left;
    width: 15%;
    background-color: #B0C4DE;
    color: white;
}

.category-right {
    float: right;
    width: 85%;
    position: relative;
    left: 4px;
}

.category-menu {
    padding: 0;
    margin: 0 auto;
}

.category-list {
    list-style-type: none;
    padding: 5px 12px 5px 5px;
    margin: 0;
}

.category-list:hover {
    background-color: #f25039;
}

.category-list .a {
    font-size: 1em;
}

.category-list-dropdown {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    margin: 0 0 0 4px;
    display: none;
}

.category-list:hover .category-list-dropdown {
    display: block;
}

.being-hidden {
    display: none;
}

.ul_left {
    padding: 0;
}

.li_offset {
    padding: 3px 0 0 10px;
}

.outdiv {
    overflow: hidden;
    margin: 0 auto;
}

.leftdiv {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.rightdiv {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.img_suit {
    height: 100%;
    width: 100%;
}