body {
    font-family: "Work Sans", Arial, "Microsoft YaHei", "微软雅黑", "华文细黑", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: black;
    background: #fff;
}

a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

li {
    list-style-type: none;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p,
ul,
ol {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 38px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    color: #000;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

::selection {
    color: #fff;
    background: #FC5185;
}

::-webkit-selection {
    color: #fff;
    background: #FC5185;
}

::-moz-selection {
    color: #fff;
    background: #FC5185;
}

li {
    list-style-type: none;
}

.recontainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 768px) {
    .recontainer {
        width: 750px;
    }
}

@media (min-width: 768px) {
    .recontainer {
        width: 1170px;
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-container {
    margin-right: auto;
    margin-left: auto;
}

.navbar-search {
    width: 100%;
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
}

.navbar-search .form-group {
    display: inline-block;
    width: 33%;
}

.navbar-search .form-group .form-control {
    display: inline-block;
    width: 100%;
    border-radius: 0;
}

.navbar-search .form-group .form-control:focus {
    border-radius: 0;
}

.navbar-search .btn {
    left: -4px;
    position: relative;
    border-radius: 0;
    border: 1px solid #f25039;
    border-left: 0;
    width: 40px;
    background-color: #f25039;
    color: white;
}

@media screen and (max-width: 767px) {
    .navbar-search {
        display: none;
    }
}

.category-left {
    width: auto;
    display: inline-block;
    background-color: white;
    padding: 0 5px 0 0;
}

.category-right {
    float: right;
    width: 88%;
    position: relative;
}

.category-menu {
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid coral;
    border-radius: 4px;

}

@media (max-width: 768px) {
    .category-menu {
        display: none;
    }
    .category-right {
    width: 100%;
}
}

.category-menu li {
    margin: 0 8px 0 8px;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.category-menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 10px 0 10px;
}

.category-menu li i {
    font-size: 14px;
    margin: 0 5px 0 0;
}

/*
.category-list {
    list-style-type: none;
    padding: 5px 12px 5px 5px;
    margin: 0;
}

.category-list:hover {
    background-color: #f25039;
}

.category-list .a {
    font-size: 1em;
}

.category-list-dropdown {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
    padding: 0 0 0 5px;
    display: none;
}

.category-list:hover .category-list-dropdown {
    display: block;
}

.category-list-dropdown:hover {
    display: block;
}*/

.being-hidden {
    display: none;
}

.form-container {
    width: 340px;
    margin: 0 auto;
}

.login-li {
    list-style-type: none;
    float: left;
    font-size: 24px;
    width: 50%;
    text-align: center;
    padding: 10px 0 10px 0;
}

.login-ul {
    margin: 0;
    padding: 0;
    height: auto;
    height: 54px;
}

.panel-container input {
    margin: 10px 20px 10px 20px;
    display: block;
    padding: 5px 10px 5px 10px;
    width: 300px;
}

.content {
    text-align: center;
}

.verification_code input {
    width: 200px;
    display: inline-block;
    margin: 10px 0 10px 20px;
    padding: 5px 10px 5px 10px;
}

.verification_code .button {
    padding: 5px 10px 5px 10px;
    margin: 10px 20px 10px 20px;
    width: 100px;
    font-size: 16px;
    background-color: #0f88eb;
    color: white;
    border: 2px solid #0f88eb;
    border-radius: 0;
    text-align: center;
    display: block;
}

.verification_code .float-left {
    margin: 10px 0 10px 20px;
    padding: 5px 10px 5px 10px;
}

.verification_code .float-right {
    margin: 10px 20px 10px 0;
    padding: 5px 10px 5px 10px;
}

.login-active a {
    color: black;
}

.clear {
    clear: both;
}

.login-a {
    display: block;
    margin: 5px 20px 5px 20px;
    padding: 0 10px 0 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.otherlogin {
    margin: 10px 20px 0 20px;
    padding: 5px 10px 0 10px;
    text-align: center;
}

.otherlogin a {
    font-size: 12px;
    color: gray;
}

.otherlogin i {
    display: block;
    width: 60px;
}

.otherlogin > div {
    margin: 0 10px 0 10px;
    padding: 0 5px 0 5px;
    width: 70px;
}

.otherlogin-content {
    margin: 10px 20px 10px 20px;
    padding: 0;
}

.ul_left {
    padding: 0;
}

.li_offset {
    padding: 3px 0 0 10px;
}

.img_suit {
    height: 100%;
    width: 100%;
}

.user_id_content {
    margin: 0 20px 0 20px;
    font-size: 16px;
}

.gender_select {
    padding: 5px 10px 5px 10px;
    margin: 0 20px 0 20px;
    width: 150px;
    font-size: 16px;
    height: 40px;
    border-radius: 0;
    display: block;
}

button[type=button]:disabled {
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    color: #ACA899;
}